# Basic learnings and practice of Python codes covering mostly all the topics

In [1]:
#Basic operations
10/1

10.0

In [2]:
10/2

5.0

In [3]:
10//2

5

In [4]:
10%2

0

In [6]:
print("my name is jijin")

my name is jijin

In [7]:
import pandas as pd 
import numpy as np

In [8]:
data=1+2+3

In [9]:
data

6

In [10]:
data==6

True

In [11]:
data1= pd.read_csv("testfile.csv")

In [12]:
data1

Empty DataFrame
Columns: [Hi,  This is just a testing file]
Index: []

In [13]:
print("Hello 101")

Hello 101

In [14]:
#print("Hello 101")

In [16]:
frint("hello 101")

NameError: name 'frint' is not defined

In [17]:
float(2)

2.0

In [18]:
type(1.1)

float

In [19]:
int(1.1)

1

In [20]:
int('1')

1

In [21]:
int('A')

ValueError: invalid literal for int() with base 10: 'A'

In [23]:
str(1)

'1'

In [24]:
a=7
a==8

False

In [25]:
type(False)

bool

In [26]:
my_var =1

In [27]:
my_var

1

In [28]:
my_variable:1

In [29]:
my_variable

NameError: name 'my_variable' is not defined

In [31]:
v=(43+42)/60

In [32]:
v

1.4166666666666667

In [33]:
int(v)

1

In [34]:
Name = "Michael Jackson"

In [35]:
Name[0:2]

'Mi'

In [36]:
Name[7:]

' Jackson'

In [37]:
Name[13]

'o'

In [38]:
Name[-1:]

'n'

In [39]:
Name[:-1]

'Michael Jackso'

In [40]:
Name[::2]

'McalJcsn'

In [41]:
len(Name)

15

In [42]:
Statement = Name + " IS THE BEST DANCER"

In [43]:
Statement

'Michael Jackson IS THE BEST DANCER'

In [45]:
3*Name

'Michael JacksonMichael JacksonMichael Jackson'

In [47]:
Name[6]='j'

TypeError: 'str' object does not support item assignment

In [48]:
print("MJ \n is the best")

MJ
 is the best

In [49]:
print(r"MJ is \n the best ")

MJ is \n the best

In [50]:
print("MJ is \\n the best")

MJ is \n the best

In [51]:
A="Water"
B="WATER"

In [52]:
B=A.upper()

In [53]:
B

'WATER'

In [54]:
A=B.lower()

In [55]:
A

'water'

In [56]:
A="MICHAEL JACKSON"

In [59]:
B= A.replace("JACKSON","Jijin")

In [60]:
B

'MICHAEL Jijin'

In [61]:
B.find("jin")

10

In [65]:
B[10:]

'jin'

In [66]:
B.find('ze')

-1

In [67]:
len(B)

13

In [68]:
tuple1 = ("disco",1.2,10)

In [69]:
type(tuple1)

tuple

In [70]:
tuple2 = tuple1 + ("hard rock",18)

In [71]:
tuple2

('disco', 1.2, 10, 'hard rock', 18)

In [72]:
tuple2[3:5]

('hard rock', 18)

In [73]:
Ratings = (10,9,6,5,10,8,9,6,3)

In [76]:
Ratings1=Ratings
Ratings= sorted(Ratings)

In [77]:
Ratings

[3, 5, 6, 6, 8, 9, 9, 10, 10]

In [78]:
Ratings1

(10, 9, 6, 5, 10, 8, 9, 6, 3)

In [79]:
Nt=(1,2,("POP","rock"),(3,4),("DISCO",(1,2)))

In [82]:
Nt[4][1][1]

2

In [83]:
Nt[2]

('POP', 'rock')

In [84]:
Nt[2]=("noy","love")

TypeError: 'tuple' object does not support item assignment

In [85]:
L=["Michael Jackson",10.1,1982]

In [86]:
type(L)

list

In [87]:
L.extend(["POP",19])

In [88]:
L

['Michael Jackson', 10.1, 1982, 'POP', 19]

In [89]:
H= L + ["KING","JOCKER"]

In [90]:
H

['Michael Jackson', 10.1, 1982, 'POP', 19, 'KING', 'JOCKER']

In [110]:
A=["Disco",1.2,10]

In [111]:
A[0]="Hard rock"

In [112]:
A

['Hard rock', 1.2, 10]

In [113]:
del(A[0])

In [114]:
A

[1.2, 10]

In [115]:
"Jijin is a good boy".split()

['Jijin', 'is', 'a', 'good', 'boy']

In [117]:
B=A
A[0]="Hardwork"

In [118]:
B

['Hardwork', 10]

In [119]:
B=A[:]
A[0]="Banana"

In [120]:
B

['Hardwork', 10]

In [121]:
A

['Banana', 10]

In [122]:
name=input("What is your name")

What is your nameJIJIN

In [123]:
name

'JIJIN'

In [1]:
x=int(input("Enter length = "))
y=int(input("Enter Breadth = "))
z=x*y
print("The area of rectangle for given length and breadth is ",z)

Enter length = 15
Enter Breadth = 12
The area of rectangle for given length and breadth is  180

In [2]:
str_list=["apple","orange","grapes","guava",112,32,21]

In [3]:
str_list.append("water")

In [4]:
str_list

['apple', 'orange', 'grapes', 'guava', 112, 32, 21, 'water']

In [5]:
str_list.pop()

'water'

In [6]:
str_list

['apple', 'orange', 'grapes', 'guava', 112, 32, 21]

In [7]:
str_list.pop(1)

'orange'

In [8]:
str_list

['apple', 'grapes', 'guava', 112, 32, 21]

In [9]:
str_list.insert(1,"jamun")

In [10]:
str_list

['apple', 'jamun', 'grapes', 'guava', 112, 32, 21]

In [11]:
str_list.insert(4,"eggs")

In [12]:
str_list

['apple', 'jamun', 'grapes', 'guava', 'eggs', 112, 32, 21]

In [13]:
str_list.pop(2)

'grapes'

In [14]:
str_list

['apple', 'jamun', 'guava', 'eggs', 112, 32, 21]

In [15]:
str_list.remove(112)

In [16]:
str_list

['apple', 'jamun', 'guava', 'eggs', 32, 21]

In [17]:
str_list[1]="cherries"

In [18]:
str_list

['apple', 'cherries', 'guava', 'eggs', 32, 21]

In [19]:
str_list.insert(1,"jamun")

In [20]:
str_list

['apple', 'jamun', 'cherries', 'guava', 'eggs', 32, 21]

In [21]:
str_list.extend(["healthy","excercise","work","hit"])

In [22]:
str_list

['apple',
 'jamun',
 'cherries',
 'guava',
 'eggs',
 32,
 21,
 'healthy',
 'excercise',
 'work',
 'hit']

In [23]:
len(str_list)

11

In [25]:
str_list.clear()

In [26]:
str_list

[]

In [27]:
del str_list

In [28]:
str_list

NameError: name 'str_list' is not defined

In [30]:
S=[32,56,21,"fool","goat",6.5]

In [39]:
S

[6.5, 21, 32, 56]

In [34]:
S.remove('fool')

In [35]:
S.remove('goat')

In [40]:
S.sort()

In [41]:
P= S.sort()

In [42]:
P

In [43]:
S.reverse()

In [44]:
#Tuples

In [45]:
S

[56, 32, 21, 6.5]

In [46]:
tuple1=("Physics","Chemistry",1997,2020)

In [47]:
tuple1[1]="JIJIN"

TypeError: 'tuple' object does not support item assignment

In [51]:
tuple1+("Bicycle","water")

('Physics', 'Chemistry', 1997, 2020, 'Bicycle', 'water')

In [53]:
#Dictionaries

a= {'s.no':'1',"name":"JIJIN","designation":"data scientist","salary":"12.5 LPA"}

In [54]:
a.keys()

dict_keys(['s.no', 'name', 'designation', 'salary'])

In [55]:
a.values()

dict_values(['1', 'JIJIN', 'data scientist', '12.5 LPA'])

In [56]:
a.items()

dict_items([('s.no', '1'), ('name', 'JIJIN'), ('designation', 'data scientist'), ('salary', '12.5 LPA')])

In [58]:
#Dictionaries

b= {'s.no':['1','2','3'],"name":["JIJIN","ABISHEK","LINGA"],"designation":["data scientist","ML Engineer","Data Analyst"],"salary":["12.5 LPA","10 LPA","7.5 LPA"]}

In [60]:
b

{'s.no': ['1', '2', '3'],
 'name': ['JIJIN', 'ABISHEK', 'LINGA'],
 'designation': ['data scientist', 'ML Engineer', 'Data Analyst'],
 'salary': ['12.5 LPA', '10 LPA', '7.5 LPA']}

In [61]:
b.update({"Experience":[2,4,1]})

In [62]:
b

{'s.no': ['1', '2', '3'],
 'name': ['JIJIN', 'ABISHEK', 'LINGA'],
 'designation': ['data scientist', 'ML Engineer', 'Data Analyst'],
 'salary': ['12.5 LPA', '10 LPA', '7.5 LPA'],
 'Experience': [2, 4, 1]}

In [64]:
b.keys()

dict_keys(['s.no', 'name', 'designation', 'salary', 'Experience'])

In [65]:
b.values()

dict_values([['1', '2', '3'], ['JIJIN', 'ABISHEK', 'LINGA'], ['data scientist', 'ML Engineer', 'Data Analyst'], ['12.5 LPA', '10 LPA', '7.5 LPA'], [2, 4, 1]])

In [67]:
#sets

set1 = {"Rock","Rock","water","eat","sleep","sleep","repeat"}

In [68]:
set1

{'Rock', 'eat', 'repeat', 'sleep', 'water'}

In [69]:
#duplicate values are removed

type(set1)

set

In [70]:
#Type casting------ list to sets 
album_list=["Michael jackson","Thriller","Thriller",1982]
album_set = set(album_list)

In [71]:
album_set

{1982, 'Michael jackson', 'Thriller'}

In [72]:
album_set.add("New york")

In [73]:
album_set

{1982, 'Michael jackson', 'New york', 'Thriller'}

In [74]:
album_set.remove("New york")

In [75]:
album_set

{1982, 'Michael jackson', 'Thriller'}

In [76]:
album_set2= {"Michael jackson","Back and black",1982}

In [77]:
album=  album_set & album_set2

In [78]:
album

{1982, 'Michael jackson'}

In [81]:
album_set.union(album_set2)

{1982, 'Back and black', 'Michael jackson', 'Thriller'}

In [82]:
album.issubset(album_set)

True

In [83]:
b['name']

['JIJIN', 'ABISHEK', 'LINGA']

In [84]:
b['salary']

['12.5 LPA', '10 LPA', '7.5 LPA']

In [85]:
"s.no" in b

True

In [86]:
"occupation" in b

False

In [88]:
def party():
    age= int(input("Enter your age : "))
    if age<18:
        print("You are not allowed to enter")
    else:
        print("Welcome to the club. Have a rememorable day")

In [89]:
party

In [90]:
party()

Enter your age : 17
You are not allowed to enter

In [91]:
party()

Enter your age : 21
Welcome to the club. Have a rememorable day

In [92]:
party()

Enter your age : 18
Welcome to the club. Have a rememorable day

In [93]:
a = 10

In [94]:
a==10

True

In [95]:
a==80

False

In [97]:
def year():
    album_year= int(input("Enter the year of album"))
    if (album_year<1980) or (album_year>1999):
        print("The album is printed before 80's or after 90's")
    else:
        print("The album is printed betweem 80's and 90's")

In [98]:
year()

Enter the year of album1997
The album is printed betweem 80's and 90's

In [99]:
year()

Enter the year of album2019
The album is printed before 80's or after 90's

In [100]:
#For list

squares= ["RED","ORANGE","PINK","YELLOW","GREEN"]

In [103]:
for i in squares:
    print(i,"\n")

RED

ORANGE

PINK

YELLOW

GREEN

In [109]:
for i in range(5):
    squares[i]="white"

In [110]:
squares

['white', 'white', 'white', 'white', 'white']

In [111]:
for i,square in enumerate(squares):
    print(i)
    print(square)

0
white
1
white
2
white
3
white
4
white

In [121]:
# while loop
# give only data which is of string type

Fruits= ["Apple","Apple","Orange","guava",12,"apple",18,19]
new_fruits=[]

i=0
while(type(Fruits[i]) == str):
      new_fruits.append(Fruits[i])
      i=i+1

In [122]:
new_fruits

['Apple', 'Apple', 'Orange', 'guava']

In [132]:
k=[19.23,19,98,9,87,62,91,72]

In [133]:
sum(k)

457.23

In [134]:
len(k)

8

In [135]:
#function
sorted(k)

[9, 19, 19.23, 62, 72, 87, 91, 98]

In [137]:
#method
k.sort()

In [138]:
k

[9, 19, 19.23, 62, 72, 87, 91, 98]

In [139]:
#simple function

def add(a):
    b=a+1
    return b

In [140]:
add(20)

21

In [141]:
#simple function

def add(a):
    '''
    add 1 to a
    '''
    b=a+1
    return b

In [143]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [144]:
# multiplication

def mult(a,b):
    c= a*b
    return c

In [145]:
mult(2,8)

16

In [147]:
mult(3,"JIJIN ")

'JIJIN JIJIN JIJIN '

In [150]:

mult(199,2007)

399393

In [151]:
mult(12.2,12)

146.39999999999998

In [153]:
def samp():
    print("Michael jackson")

In [154]:
samp()

Michael jackson

In [155]:
def samp2(a,b):
    c= a-b

In [156]:
samp2(17,6)

In [160]:
# if return statement  not given , we can't get the values

In [162]:
def newyor():  #function cannot be defined without body

SyntaxError: unexpected EOF while parsing (<ipython-input-162-17296923604d>, line 1)

In [163]:
def newyor():
    pass

In [164]:
newyor()

In [165]:
def rating(a):
    for i,s in enumerate(a):
        print(i," is of rating ",s)

In [167]:
album_rating=[10,5,8,6,2]

In [168]:
rating(album_rating)

0  is of rating  10
1  is of rating  5
2  is of rating  8
3  is of rating  6
4  is of rating  2

In [169]:
#to give infinite arguments

def name(*names):
    for i in names:
        print(i)

In [170]:
name("JIJIN","Krishna","Sai","Pradeep")

JIJIN
Krishna
Sai
Pradeep

In [172]:
# scope, The scope of x is only taken when the function is executed
def addDC(y):
    c= y+"AD"
    return c

x="DC"
addDC(x)

'DCAD'

In [174]:
# Local variable

def Thriller():
    yr= 1970
    return yr

In [178]:
Thriller()

1970

In [179]:
yr

NameError: name 'yr' is not defined

In [181]:
#Global variable
def Thriller():
    yr=1970 #local variable
    return yr

yr= 2010  # global variable
print(Thriller(),"----> local variable")
print(yr,"-----> Global variable")

1970 ----> local variable
2010 -----> Global variable

In [182]:
#If a local variable not defined it will take the global variable

def thriller(a):
    year= yr+a
    return year

yr=1970
print(thriller(5))

1975

In [184]:
# we can use keyword Global to make local variable as Global variable

def ex(c):
    global salary 
    salary = 70000
    bonus= salary + c
    return bonus

print(ex(5000))
print(salary)

75000
70000

In [185]:
# some other list

b=[6,3,8]
c=[9,4,2]
a=[2,4,5]

In [189]:
# nested list
d=[a,b,c]

In [190]:
d

[[2, 4, 5], [6, 3, 8], [9, 4, 2]]

In [191]:
[i[0] for i in d] # first row

[2, 6, 9]

In [192]:
d[0]  # first column

[2, 4, 5]

In [193]:
[i[1:] for i in d]

[[4, 5], [3, 8], [4, 2]]

In [196]:
[i for i in range(2,100,2)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [198]:
gen= ["rock","pop","disco","melody"]

In [202]:
[print("i love ",gen[i]) for i in range(len(gen))]

i love  rock
i love  pop
i love  disco
i love  melody

[None, None, None, None]

In [203]:
[i for i in gen ]

['rock', 'pop', 'disco', 'melody']

In [204]:
name="jose"
print("Hello ",name)

Hello  jose

In [214]:
def name(a):
    print("Hello ",a)
    print("Hi %s"%a)

In [215]:
name('jose')

Hello  jose
Hi jose

In [218]:
#prime number
def prime():
    a=int(input("Enter a number  "))
    for i in range(2,a):
        if a%i==0:
            print("Nope... It is not a prime number")
            break            
    else:
        print("Yay!!! It is a prime number")

In [220]:
prime()

Enter a number  13
Yay!!! It is a prime number

In [221]:
prime()

Enter a number  16
Nope... It is not a prime number

In [228]:
import math
def prime1(num):
    '''
    a better method to find prime
    
    '''
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
    return True

In [226]:
num=12

In [234]:
int(math.sqrt(15))

3

In [229]:
prime1(13)

True

In [230]:
prime1(18)

False

In [231]:
prime1(19)

True

In [232]:
prime1(17)

True

In [233]:
prime1(15)

False

In [235]:
#Classes and Objects

class circle(object):
    def __init__(self,radius,color):
        self.radius = radius
        self.color = color

In [236]:
c1= circle(20,"blue")

In [237]:
c1.radius

20

In [238]:
c1.color

'blue'

In [239]:
c1.color= "red"

In [240]:
c1

In [241]:
circle

__main__.circle

In [242]:
c1.color

'red'

In [243]:
class rectangle():
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
        
    def add_length(self,le):
        self.length=self.length+le
        return(self.length)

In [244]:
r= rectangle(20,10)

In [245]:
r.length

20

In [246]:
r.breadth

10

In [247]:
r.add_length(15)

35

In [249]:
dir(rectangle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_length']

In [252]:
with open("sample.txt","r") as file1:
    file_stuff=file1.read()
    print(file_stuff)

I applied to a holiday-homes Indian startup. I got a chance to get interviewed there. I met the HR, I was given a bunch of Python questions on HackerRank platform, with Fibonacci Sequence being the toughest amongst them.

I successfully completed all of those and then met another guy who took my ML interview. It went well in starting, I was talking about my learning in the field of statistics. A bunch of ML questions then. I could answer some and some I couldnt, but there was some negativity I felt from the interviewers side, he didnt sound professional which made me somewhat less interested in this job.

I had the other interview with the founder. He was a polite person, he asked me some behavioural question to judge if I was a good fit in their culture. I answered all his questions pretty honestly. He was amused by the fact that I was about to leave my highly-secure, full-time job at Fidelity for a startup. I didnt know it mattered too much for him, but I was just being honest all the times.

The HR later told me that I was selected and discussed the compensation details with me. I went home telling him that Ill let him know about my final decision the next day. The thing was, some people there didnt fit well with my work culture. I found negativity in interviewing with some. Thats why I made the decision to let go of that offer.

I gave more and more interviews. At one time I got an offer to Head the Technology of a very early-age startup. The guy was amazing, had an amazing idea, but I was not in a position to Head the tech, which had the initial focus in managing all the development-related work. I wanted to gain experience in the data domain. We became good connections and I moved on.

In [253]:
print(file1.closed)

True

In [261]:
with open("sample.txt","r") as file2:
    fle= file2.read()
    print(fle)

I applied to a holiday-homes Indian startup. I got a chance to get interviewed there. I met the HR, I was given a bunch of Python questions on HackerRank platform, with Fibonacci Sequence being the toughest amongst them.

I successfully completed all of those and then met another guy who took my ML interview. It went well in starting, I was talking about my learning in the field of statistics. A bunch of ML questions then. I could answer some and some I couldnt, but there was some negativity I felt from the interviewers side, he didnt sound professional which made me somewhat less interested in this job.

I had the other interview with the founder. He was a polite person, he asked me some behavioural question to judge if I was a good fit in their culture. I answered all his questions pretty honestly. He was amused by the fact that I was about to leave my highly-secure, full-time job at Fidelity for a startup. I didnt know it mattered too much for him, but I was just being honest all the times.

The HR later told me that I was selected and discussed the compensation details with me. I went home telling him that Ill let him know about my final decision the next day. The thing was, some people there didnt fit well with my work culture. I found negativity in interviewing with some. Thats why I made the decision to let go of that offer.

I gave more and more interviews. At one time I got an offer to Head the Technology of a very early-age startup. The guy was amazing, had an amazing idea, but I was not in a position to Head the tech, which had the initial focus in managing all the development-related work. I wanted to gain experience in the data domain. We became good connections and I moved on.

In [262]:
fle

'I applied to a holiday-homes Indian startup. I got a chance to get interviewed there. I met the HR, I was given a bunch of Python questions on HackerRank platform, with Fibonacci Sequence being the toughest amongst them. \n\nI successfully completed all of those and then met another guy who took my ML interview. It went well in starting, I was talking about my learning in the field of statistics. A bunch of ML questions then. I could answer some and some I couldnt, but there was some negativity I felt from the interviewers side, he didnt sound professional which made me somewhat less interested in this job. \n\nI had the other interview with the founder. He was a polite person, he asked me some behavioural question to judge if I was a good fit in their culture. I answered all his questions pretty honestly. He was amused by the fact that I was about to leave my highly-secure, full-time job at Fidelity for a startup. I didnt know it mattered too much for him, but I was just being honest all the times. \n\nThe HR later told me that I was selected and discussed the compensation details with me. I went home telling him that Ill let him know about my final decision the next day. The thing was, some people there didnt fit well with my work culture. I found negativity in interviewing with some. Thats why I made the decision to let go of that offer. \n\nI gave more and more interviews. At one time I got an offer to Head the Technology of a very early-age startup. The guy was amazing, had an amazing idea, but I was not in a position to Head the tech, which had the initial focus in managing all the development-related work. I wanted to gain experience in the data domain. We became good connections and I moved on. '

In [266]:
with open("sample.txt","r") as file2:
    fle= file2.readline()
    print(fle)

I applied to a holiday-homes Indian startup. I got a chance to get interviewed there. I met the HR, I was given a bunch of Python questions on HackerRank platform, with Fibonacci Sequence being the toughest amongst them.

In [268]:
file2.closed

True

In [269]:
# Lambda function

x= lambda y: y+30

In [270]:
x(10)

40

In [271]:
a= lambda b,c: b*c

In [272]:
print(a(10,18))

180

In [273]:
z = lambda a,b,c: a+b+c

In [274]:
z(18,26,82)

126

In [275]:
#Map()

a=[1,2,3]
b=[8,10,7]

c=list(map(lambda x,y:x+y,a,b))

In [276]:
c

[9, 12, 10]

In [277]:
o=[7,4,5,8]
p=[8,2,4,1]

q = list(map(lambda x,y:x*y,o,p))

In [278]:
q

[56, 8, 20, 8]

In [279]:
# Temperature conversion

def fah(T):
    return (float(9/5)*T+32)
def cel(T):
    return (float(5/9)*(T-32))

In [280]:
temp=[32.4,28,26,31.7,38]

In [281]:
f_temps= list(map(fah,temp))

In [282]:
f_temps

[90.32, 82.4, 78.80000000000001, 89.06, 100.4]

In [283]:
list(map(cel,f_temps))

[32.4,
 28.000000000000004,
 26.000000000000007,
 31.700000000000003,
 38.00000000000001]

In [284]:
list(map(lambda x:float(9/5)*x+32,temp))

[90.32, 82.4, 78.80000000000001, 89.06, 100.4]

In [285]:
list(map(lambda x:float(5/9)*(x-32),f_temps))

[32.4,
 28.000000000000004,
 26.000000000000007,
 31.700000000000003,
 38.00000000000001]

In [291]:
#class

class Person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
        
    def age(self,current_year):
        return "age is :",current_year - self.yob
    
    def __str__(self):
        return "%s %s was born in %d"%(self.name,self.surname,self.yob)

In [292]:
p=Person("JIJIN","P",1997)

In [294]:
p.age(2021)

('age is :', 24)

In [296]:
print(p)

JIJIN P was born in 1997

In [306]:
# inheritance

class Student(Person):
    def __init__(self,name,surname,yob,student_id):
        super().__init__(name,surname,yob)
        self.student_id = student_id
        
    def __str__(self):
        print("The student name is : ",self.name)

In [307]:
student= Student("JIJIN","P",1997,725)

In [308]:
dir(student)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name',
 'student_id',
 'surname',
 'yob']

In [309]:
student.age(2020)

('age is :', 23)

In [310]:
student.name

'JIJIN'

In [311]:
student.yob

1997

In [312]:
print(student)

The student name is :  JIJIN

TypeError: __str__ returned non-string (type NoneType)

In [315]:
print(type(student))

<class '__main__.Student'>

In [316]:
print(isinstance(student,Person))

True

In [319]:
#Encapsulation  #public #private 

class High():
    def __init__(self,__max,mini):
        self.__max=__max    #private
        self.mini=mini      #public

    def speed(self):
        print("The maximum speed is ",self.__max)
        
    def change(self,c):
        self.__max= c

In [321]:
h=High(200,140)

In [322]:
dir(h)

['_High__max',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'change',
 'mini',
 'speed']

In [324]:
h.change(190)

In [327]:
h.speed()

The maximum speed is  190

In [328]:
h.change(210)

In [329]:
h.speed()

The maximum speed is  210

In [330]:
h.mini=120

In [331]:
#looping

i=0
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [334]:
i=0
while(i<20):
    print(i//2,end=" ")
    i=i+2

0 1 2 3 4 5 6 7 8 9

In [341]:
#Basic methods

A= "jijin abhishek arun"

In [342]:
A.split()

['jijin', 'abhishek', 'arun']

In [343]:
A.swapcase()

'JIJIN ABHISHEK ARUN'

In [345]:
A.lower()

'jijin abhishek arun'

In [346]:
A.upper()

'JIJIN ABHISHEK ARUN'

In [347]:
A.isdigit()

False

In [348]:
A.isalpha()

False

In [349]:
a= "j"

In [350]:
a.isalpha()

True

In [351]:
"jijin" + "shweta"

'jijinshweta'

In [353]:
#Format function

A="hi"
B="Hello"

print("The command is ",A, " and ",B)
print("The command is %s and %s "%(A,B))
print("The command is {1} and {0} ".format(A,B))
print("The command is {0} and {1}".format(A,B))

The command is  hi  and  Hello
The command is hi and Hello
The command is Hello and hi
The command is hi and Hello

In [354]:
#Min()
k = [40,90,22,78,30,67]

In [355]:
min(k)

22

In [356]:
max(k)

90

In [358]:
len(k)

6

In [362]:
def add(*x):
    return sum(x)

In [363]:
add(3,4,5)

12

In [364]:
m=[35.20000000000001, 36.5, 37.300000000000004, 38.00000000000001, 39.800000000000004]

In [367]:
n=[round(x,2) for x in m]

In [368]:
n

[35.2, 36.5, 37.3, 38.0, 39.8]

In [369]:
o=['%2f'%j for j in m]

In [370]:
o

['35.200000', '36.500000', '37.300000', '38.000000', '39.800000']

In [371]:
#filter function

x=[1,2,3,4,45]
l=list(filter(lambda y: y>2, x))

In [372]:
l

[3, 4, 45]

In [390]:
def add(x,y):
    c=x+y
    print("sum of %d and %d is %d"%(x,y,c))

def main():
    add(3,4)
    print("This is main function")
    
    
if __name__ =="__main__":
    main()

sum of 3 and 4 is 7
This is main function

In [392]:
# classes 

class Company:
    revenue= 80000
    
    def __init__(self,name,location,no_of_employees):
        self.name = name
        self.location = location
        self.no_of_employees = no_of_employees

In [393]:
c=Company("George","New York","400")

In [394]:
c.name

'George'

In [395]:
c.location

'New York'

In [396]:
c.no_of_employees

'400'

In [397]:
c.revenue

80000

In [406]:


class Car:
    def __init__(self,brand,color,model):
        self.brand=brand
        self.color=color
        self.model=model
        
    def getdata(self,brand,color):
        print("get data called")
        self.brand=brand
        self.color=color
        
    def display(self):
        print("The %s %s car is of %s model"%(self.color,self.brand,self.model))

In [407]:
car= Car("Ferrari","Red","Sedan")

In [408]:
car.brand

'Ferrari'

In [409]:
car.model

'Sedan'

In [410]:
dir(car)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'brand',
 'color',
 'display',
 'getdata',
 'model']

In [411]:
car.display()

The Red Ferrari car is of Sedan model

In [412]:
car.brand

'Ferrari'

In [414]:
car.getdata("Porsche","black")

get data called

In [415]:
car.display()

The black Porsche car is of Sedan model

In [418]:
#inheritance sub class.. base class is car

class Luxury(Car):
    def __init__(self,brand,color,model,speed):
        super().__init__(brand,color,model)
        self.speed = speed

In [419]:
L= Luxury("Ford","Blue","Hatchback","150 kmph")

In [420]:
dir(L)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'brand',
 'color',
 'display',
 'getdata',
 'model',
 'speed']

In [421]:
L.display()

The Blue Ford car is of Hatchback model

In [422]:
L.speed

'150 kmph'

In [423]:
isinstance(L,Car)

True

In [424]:
#Modules

In [425]:
import keyword

In [426]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [427]:
import sys

In [428]:
sys.path

['C:\\Users\\jijin',
 'C:\\Users\\jijin\\anaconda3\\python38.zip',
 'C:\\Users\\jijin\\anaconda3\\DLLs',
 'C:\\Users\\jijin\\anaconda3\\lib',
 'C:\\Users\\jijin\\anaconda3',
 '',
 'C:\\Users\\jijin\\anaconda3\\lib\\site-packages',
 'C:\\Users\\jijin\\anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg',
 'C:\\Users\\jijin\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\jijin\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\jijin\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\jijin\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\jijin\\.ipython']

In [429]:
import os

In [432]:
os.getcwd()

'C:\\Users\\jijin'

In [433]:
os.listdir()

['.conda',
 '.condarc',
 '.continuum',
 '.dotnet',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.pipwin',
 '.spyder-py3',
 '.ssh',
 '.~Times of india-Part 2-feb 6-10.ipynb',
 '1 Laptop Ratings and Reviews final.csv',
 '1 Phones Ratings and Reviews final.csv',
 '2. smart watches Ratings and Reviews final.csv',
 '20000 Ratings and Reviews final.csv',
 '20000 Ratings and Reviews.csv',
 '3. Monitors Ratings and Reviews final.csv',
 '3D Objects',
 'advertising.csv',
 'ad_mushroom_prediction.obj',
 'anaconda3',
 'AppData',
 'Application Data',
 'Audio to text NLP Project_JP.ipynb',
 'Avocado_Evaluation_Project2_JIJIN_DT-checkpoint.ipynb',
 'Baseball_Evaluation_Project1_JIJIN_DT-checkpoint.ipynb',
 'brainsize.csv',
 'BullseyeCoverageError.txt',
 'Cameras Ratings and Reviews final.csv',
 'car dheko web scrapping-Copy1.ipynb',
 'car dheko web scrapping-Copy2.ipynb',
 'car dheko web scrapping-Copy3.ipynb',
 'car dheko web scrapping-Copy4.ipynb',
 'car dheko web scrapping.ipynb',
 'cardheko cars 1 original.csv',
 'cardheko cars 2 original.csv',
 'cardheko cars 3 original.csv',
 'Car_Price_Prediction_Results.csv',
 'Car_Price_Project.pkl',
 'Census_Income_Prediction_Evaluation_Project 5_JIJIN_DT-checkpoint.ipynb',
 'china_gdp.csv',
 'chromedriver.exe',
 'Class_8_classcontinuation_and_IO_file_operations (1).ipynb',
 'class_basiccall_func_practise.ipynb',
 'combining csv-Deccan.ipynb',
 'combining csv-ET.ipynb',
 'combining csv-Hindu 2.ipynb',
 'combining csv-olx.ipynb',
 'combining csv.ipynb',
 'Contacts',
 'Cookies',
 'Creating_maps_using_folium (1).ipynb',
 'cr_encoded.xlsx',
 'cr_normal.xlsx',
 'Customer Churn Analysis Prediction_Project8_JIJIN_DT-checkpoint.ipynb',
 'Customer_retention_Project_JIJIN_INT-15Fliprobo.ipynb',
 'Deccan herald day 1-Copy10.ipynb',
 'Deccan herald day 1-Copy11.ipynb',
 'Deccan herald day 1-Copy12.ipynb',
 'Deccan herald day 1-Copy13.ipynb',
 'Deccan herald day 1-Copy14.ipynb',
 'Deccan herald day 1-Copy15.ipynb',
 'Deccan herald day 1-Copy16.ipynb',
 'Deccan herald day 1-Copy17.ipynb',
 'Deccan herald day 1-Copy18.ipynb',
 'Deccan herald day 1-Copy19.ipynb',
 'Deccan herald day 1-Copy20.ipynb',
 'Deccan herald day 1-Copy5.ipynb',
 'Deccan herald day 1-Copy6.ipynb',
 'Deccan herald day 1-Copy7.ipynb',
 'Deccan herald day 1-Copy8.ipynb',
 'Deccan herald day 1-Copy9.ipynb',
 'Deccan herald day 1_Sample code_JIJIN P_Intern 15.ipynb',
 'Deccan herald day 2.ipynb',
 'Deccan herald day 3.ipynb',
 'Deccan herald day 4.ipynb',
 'Deccan herald day 5.ipynb',
 'Deccan News data scraped Nov 2018.csv',
 'deccan1.csv',
 'deccan10.csv',
 'deccan11.csv',
 'deccan12.csv',
 'deccan13.csv',
 'deccan14.csv',
 'deccan15.csv',
 'deccan16.csv',
 'deccan17.csv',
 'deccan18.csv',
 'deccan19.csv',
 'deccan2.csv',
 'deccan20.csv',
 'deccan21.csv',
 'deccan22.csv',
 'deccan23.csv',
 'deccan24.csv',
 'deccan25.csv',
 'deccan26.csv',
 'deccan27.csv',
 'deccan28.csv',
 'deccan29.csv',
 'deccan3.csv',
 'deccan30.csv',
 'deccan4.csv',
 'deccan5.csv',
 'deccan6.csv',
 'deccan7.csv',
 'deccan8.csv',
 'deccan9.csv',
 'dectsfile.txt',
 'Desktop',
 'desktop.ipynb',
 'Doctor Consultation fees-checkpoint.ipynb',
 "Doctor's_Consultation_Fees_Prediction_Evaluation_Project_4_JIJIN_DT-checkpoint.ipynb",
 'Doctor_consulting_fees_2-checkpoint.ipynb',
 'Documents',
 'Downloads',
 'Dropbox',
 'drug200.csv',
 'Economic times Apriln 2019.csv',
 'Economic times part1.csv',
 'Economic times part2.csv',
 'Economic times part3.csv',
 'Economic times part4.csv',
 'EDA_WINE_EQUALITY_20FEB (1).ipynb',
 'empl.csv',
 'english to tamil mic to text convertor Project_NLP_JP.ipynb',
 'fair_practise_microcredit.ipynb',
 'Favorites',
 'Final Reviews and Ratings.csv',
 'Flight price data_web scraping_sample code.ipynb',
 'Flight Price Prediction_Evaluation_Project 7_JIJIN_DT-checkpoint.ipynb',
 'Flight_Price.csv',
 'Flip_robo_Flight Price Prediction_JIJIN P_INTERN 15.ipynb',
 'flower (1)',
 'FuelConsumption.csv',
 'happiness.csv',
 'Headphones Ratings and Reviews final.csv',
 'Hindu News data scraped oct 2015.csv',
 'Hindu News data scraped SEP 2020.csv',
 'Hindu oct 2015 part1.csv',
 'Hindu oct 2015 part2.csv',
 'Hindu oct 2015 part3.csv',
 'Hindu oct 2015 part4.csv',
 'Hindu oct 2015 part5.csv',
 'Hindu part1.csv',
 'Hindu part2.csv',
 'Hindu part3.csv',
 'Hindu part4.csv',
 'Hindu part5.csv',
 'Home theatre Ratings and Reviews final.csv',
 'HR_attrition_Evaluation_Project3_JIJIN_DT-checkpoint.ipynb',
 'HR_attrition_rate.csv',
 'IBM10_RECONTENT BASED RECOMMENDING_ML0101EN-RecSys-Content-Based-movies-py-v1.ipynb',
 'IBM11_Collabrative recoomender_ML0101EN-RecSys-Collaborative-Filtering-movies-py-v1.ipynb',
 'IBM1_ML0101EN-Reg-Simple-Linear-Regression-Co2-py-v1.ipynb',
 'IBM2-NON LINEAR ML0101EN-Reg-NoneLinearRegression-py-v1.ipynb',
 'IBM3_KNN_ML0101EN-Clas-K-Nearest-neighbors-CustCat-py-v1.ipynb',
 'IBM4_ML0101EN-Clas-Decision-Trees-drug-py-v1.ipynb',
 'IBM5_LOGISTIC REG_ML0101EN-Clas-Logistic-Reg-churn-py-v1.ipynb',
 'IBM6_SVM_ML0101EN-Clas-SVM-cancer-py-v1.ipynb',
 'IBM7_KMeansUNSupervised_ML0101EN-Clus-K-Means-Customer-Seg-py-v1.ipynb',
 'IBM8_Hierarichal_unspervised_ML0101EN-Clus-Hierarchical-Cars-py-v1.ipynb',
 'IBM9_DBSCAN_ML0101EN-Clus-DBSCN-weather-py-v1.ipynb',
 'importing empl data.ipynb',
 'Insurance Claims- Fraud Detection  Prediction_Project10_JIJIN_DT-checkpoint.ipynb',
 'Internship_micro-credit.ipynb',
 'internship_micro_credit_report.docx',
 'Iris.csv',
 'Jedi',
 'Jijin P Internship 15 Car Price Prediction Project.ipynb',
 'JIJIN_INTENSHIP-15_Housing Price - Project 2 .ipynb',
 'Krishna Project.ipynb',
 'Language Translator using textblob Application_NLP_JP.ipynb',
 'laptops Ratings and Reviews final.csv',
 'Links',
 'linr_HappinessScore_prediction.obj',
 'list_example_practise.ipynb',
 'Loan Application Status Prediction_Evaluation_Project 6_JIJIN_DT-checkpoint.ipynb',
 'Loan_Application_status-checkpoint.ipynb',
 'Local Settings',
 'marks.csv',
 'micro-credit.ipynb',
 'Microsoft',
 'micro_credit2.ipynb',
 'ML_practise.ipynb',
 'Model_creation_on_overpass.ipynb',
 'mushroom.csv',
 'mushroom_project2 (1).ipynb',
 'mushroom_project2.ipynb',
 'Music',
 'My Documents',
 'My first Chat bot Project_NLP_LP.ipynb',
 'my olx workbook.ipynb',
 'mydatabase.db',
 'Natural Language Processing _ Basic_JIJIN P.ipynb',
 'NetHood',
 'News data scraped FEB 2018',
 'News data scraped FEB 2018.csv',
 'NLP GENISM_JIJINP.ipynb',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{96723f2b-d46d-11eb-8d6b-f85ea0565c33}.TM.blf',
 'NTUSER.DAT{96723f2b-d46d-11eb-8d6b-f85ea0565c33}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{96723f2b-d46d-11eb-8d6b-f85ea0565c33}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy_Stats_smallfunc_practise (1).ipynb',
 'olx cars 1 original.csv',
 'olx cars 2 original.csv',
 'olx cars 3 original.csv',
 'olx cars 4 original.csv',
 'olx cars 5 original.csv',
 'olx cars part1.csv',
 'olx cars part2.csv',
 'olx cars part3.csv',
 'olx cars part4.csv',
 'olx cars part5.csv',
 'olx old cars.csv',
 'Olx used cars.csv',
 'olx web scrapping-bengaluru -2.ipynb',
 'olx web scrapping-chennai -3.ipynb',
 'olx web scrapping-delhi-4.ipynb',
 'olx web scrapping-kerala-5.ipynb',
 'olx web scrapping-specified1-Copy1.ipynb',
 'olx web scrapping-specified1-Copy2.ipynb',
 'olx web scrapping-specified1-Copy3.ipynb',
 'olx web scrapping-specified1.ipynb',
 'olx web scrapping.ipynb',
 'OneDrive',
 'pandas_matplotlib_statistics_practise (1).ipynb',
 'PCA-checkpoint.ipynb',
 'pipwin',
 'Price of flights.csv',
 'Prices of flights',
 'Printers Ratings and Reviews final.csv',
 'PrintHood',
 'Python Revision 31 oct.ipynb',
 'pythonclass3 (1).ipynb',
 'Pythonclass3range-Copy1.ipynb',
 'Pythonclass3range.ipynb',
 'pythonclass4 (1).ipynb',
 'Pythonclass5_loops (1).ipynb',
 'Pythonclass6_loop_module_class (1).ipynb',
 'PythonDSCLASS2-Copy1 (1).ipynb',
 'PythonDSCLASS2.ipynb',
 'randomstate.PNG',
 'Rating Prediction Model - NLP _FR_JIJIN P-Copy1.ipynb',
 'Rating Prediction Model - NLP _FR_JIJIN P.ipynb',
 'Ratings and Reviews.csv',
 'Recent',
 'rfr_housing_saleprice.obj',
 'rfr_hyp_flightprice_prediction.obj',
 'rf_micro_credit_prediction.obj',
 'Sample TI part 1.csv',
 'Sample TI part 1_a.csv',
 'Sample TI part 1_a_a.csv',
 'Sample TI part 1_b.csv',
 'Sample TI part 1_b_b.csv',
 'Sample TI part 1_c.csv',
 'Sample TI part 2.csv',
 'Sample TI part 2_a.csv',
 'Sample TI part 2_b.csv',
 'Sample TI part 2_c.csv',
 'Sample TI part 3.csv',
 'Sample TI part 3_a.csv',
 'Sample TI part 4.csv',
 'Sample TI part 4_a.csv',
 'Sample TI part 5.csv',
 'Sample TI part 5_a.csv',
 'Sample TI part 6.csv',
 'sample.txt',
 'Saved Games',
 'Searches',
 'SendTo',
 'service.csv',
 'SF_11th Feb_24th Feb.ipynb',
 'Snap overpass model.ipynb',
 'source',
 'Spam Mail Detection Model Project NLP_JP.ipynb',
 'spam.csv',
 'Speech to Text Application Project _ NLP_JP.ipynb',
 'SQLLITE With Python.ipynb',
 'Start Menu',
 'Statistics_practise (1).ipynb',
 'story.doc',
 'teleCust1000t.csv',
 'Temperature Prediction_Project9_JIJIN_DT-checkpoint.ipynb',
 'Templates',
 'test.csv',
 'test.wav',
 'test1.wav',
 'testfile.csv',
 'The Economic times_Part 1-Copy3.ipynb',
 'The Economic times_Part 1_Program_sample_JIJINP.ipynb',
 'The Economic times_Part 2.ipynb',
 'The Economic times_Part 3.ipynb',
 'The hindu_oct2015_part1.ipynb',
 'The hindu_oct2015_part2.ipynb',
 'The hindu_oct2015_part3.ipynb',
 'The hindu_oct2015_part4.ipynb',
 'The hindu_oct2015_part5.ipynb',
 'The hindu_Part 3.ipynb',
 'The hindu_Part 4.ipynb',
 'The hindu_Part 5.ipynb',
 'Times of india-Copy1.ipynb',
 'Times of india-Copy2.ipynb',
 'Times of india-Copy3.ipynb',
 'Times of india-Part 2-feb 6-10-Copy1.ipynb',
 'Times of india-Part 2-feb 6-10-Copy2.ipynb',
 'Times of india-Part 2-feb 6-10-Copy3.ipynb',
 'Times of india-Part 2-feb 6-10.ipynb',
 'Times of india-Part 3 -feb 11-15-Copy1.ipynb',
 'Times of india-Part 3 -feb 11-15-Copy2.ipynb',
 'Times of india-Part 3 -feb 11-15-Copy3.ipynb',
 'Times of india-Part 3 -feb 11-15.ipynb',
 'Times of india-Part 4-feb 16-20-Copy1.ipynb',
 'Times of india-Part 4-feb 16-20-Copy2.ipynb',
 'Times of india-Part 4-feb 16-20-Copy3.ipynb',
 'Times of india-Part 4-feb 16-20.ipynb',
 'Times of india-Part 5-feb 21-25.ipynb',
 'Times of india-Part 6-feb 26-28.ipynb',
 'Times of india-Part1-feb1-5-Copy1.ipynb',
 'Times of india-Part1-feb1-5-Copy2.ipynb',
 'Times of india-Part1-feb1-5-Copy3.ipynb',
 'Times of india-Part1-feb1-5_code_JIJIN P_Sample.ipynb',
 'Times of india.ipynb',
 'TOI news feb2018.csv',
 'train.csv',
 'Untitled (1).ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'WA_Fn-UseC_-HR-Employee-Attrition.csv',
 'web scraping 20000 reviews from amazon-Copy2.ipynb',
 'web scraping 20000 reviews from amazon-Copy3.ipynb',
 'web scraping 20000 reviews from amazon-Headphones.ipynb',
 'web scraping 20000 reviews from amazon-Home theater.ipynb',
 'web scraping 20000 reviews from amazon-laptops.ipynb',
 'web scraping 20000 reviews from amazon-Monitors.ipynb',
 'web scraping 20000 reviews from amazon-Phones.ipynb',
 'web scraping 20000 reviews from amazon-Printers.ipynb',
 'web scraping 20000 reviews from amazon-Professional Cameras.ipynb',
 'web scraping 20000 reviews from amazon-Router.ipynb',
 'web scraping 20000 reviews from amazon-smart watches.ipynb',
 'web scraping 20000 reviews from amazon.ipynb',
 'web_scraping_assignment1_solutions.ipynb',
 'web_scraping_assignment2_solutions.ipynb',
 'web_scrapping_assignment3_solutions.ipynb',
 'web_scrapping_assignment4_solutions (1).ipynb',
 'winequality-red.csv',
 'world_happiness.ipynb',
 'world_happiness_project1.ipynb']

In [434]:
import math

In [435]:
math.pi

3.141592653589793

In [436]:
math.sqrt(16)

4.0

In [437]:
math.sqrt(25)

5.0

In [438]:
math.pow(2,3)

8.0

In [439]:
import math as m

In [440]:
m.pi

3.141592653589793

In [441]:
from math import pi

In [442]:
pi

3.141592653589793

# Python FILE I/O operation

In [450]:
savefile = open("C:\\user\\jijin\\ji.txt",'w')

In [452]:
savefile.write("This is sample file for input output operation")

46

In [453]:
savefile.close()

In [467]:
readme = open("C:\\user\\jijin\\ji.txt",'r')

In [464]:
readme.readlines()

['This is sample file for input output operationThis is sample file for input output operation']

In [468]:
readme.read()

'This is sample file for input output operationThis is sample file for input output operation'

In [469]:
readme.close()

In [470]:
appendfile = open("C:\\user\\jijin\\ji.txt",'a')
appendfile.write("\n My name is jijin")

18

In [471]:
appendfile.close()

In [472]:
# Pickling and unpickling

In [473]:
flow = {1:'jasmine',2:'rose',3:'lily',4:'shoeflower'}

In [474]:
filename = "flowers"

In [475]:
import pickle

In [476]:
outfile = open(filename,"wb")

In [478]:
pickle.dump(flow,outfile)

In [479]:
outfile.close()

In [480]:
# unpickling the file

infile = open(filename,"rb")

In [481]:
pickle.load(infile)

{1: 'jasmine', 2: 'rose', 3: 'lily', 4: 'shoeflower'}

In [482]:
infile.close()